
@{
    ViewBag.Title = "Encadrant";
}

<h2 class="center">Accueil Encadrant</h2>
<hr />
<section>
    <h3> Mes Disciplines</h3>
    <hr/>
    <p>Aucunes disciplies trouvés</p>
    <hr />
</section>
<section>
    <h3> Mes Sections</h3>
    <hr />
    <p>Aucunes sections trouvés</p>
    <hr />
</section>
<section>
    <h3> Mes Séances</h3>
    <hr />
    <p>Aucunes séances trouvés</p>
    <hr />
</section>