
@{
    ViewBag.Title = "Encadrant";
}

<h2>Accueil Encadrant</h2>
<hr />
<section>
    <h3> Mes Disciplines</h3>
</section>
<section>
    <h3> Mes Sections</h3>
</section>
<section>
    <h3> Mes Séances</h3>
</section>