@{
    ViewBag.Title = "Accueil";
}

<div class="flexRow">
    <div class="nav navbar-left collection w20">
        <a href="#!" class="collection-item active">Liste des Disciplines</a>
        <a href="#!" class="collection-item">Profile</a>
        <a href="#!" class="collection-item">Messages</a>
    </div>

    <div class="panel panel-body pad5 w80">
        <div class="panel-heading">Découvrez les plaisirs du sport chez Sports Asso !</div>
        <div class="panel-body">
            Des dizaines de disciplines exaltantes dispnnibles. Encadré par des proffessionels du sport, venez découvrir les nombreuses activité propossé par nontre association !
        </div>
        <img src="~/Content/img/balls.png" alt="font" />
    </div>
</div>
