@{
    ViewBag.Title = "Accueil";
}

@model IEnumerable<SportAsso.discipline>

<div class="flexRow">
    <div class="nav navbar-left collection w20">
        <!--<a href="#" class="collection-item active">Liste des Disciplines</a>-->
        @Html.ActionLink("Liste des Disciplines", "Index", new { id = 0 }, new { @class = "collection-item active" })
        @foreach (var item in Model)
        {
            @Html.ActionLink(item.label, "Index" , new { id = item.discipline_id }, new {@class = "collection-item" })
        }
    </div>
    <div class="panel panel-body pad5 w80">
        <div class="panel-heading">@ViewData["titreSection"]</div>
     
        
        <div class="panel-body">
            @ViewData["descriptionSection"]
          </div>
        <img src="~/Content/img/balls.png" alt="font" />
    </div>
</div>
