@{
    ViewBag.Title = "Accueil";
}

<div class="jumbotron">
    <h1>Accueil SportAsso</h1>
</div>

<ul class="nav navbar-left">
    <li role="presentation" class="active"><a href="#">Home</a></li>
    <li role="presentation"><a href="#">Profile</a></li>
    <li role="presentation"><a href="#">Messages</a></li>
</ul>

<div class="panel panel-body">
    <div class="panel-heading">Panel heading</div>
    <div class="panel-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </div>
</div>