@model IEnumerable<SportAsso.participe>

@{
    ViewBag.Title = "Index";
}

<h3 class="center">Liste des paiments en attente</h3>

<table class="table">
    <tr>
        <th>
            <bold>Utilisateur</bold>
        </th>
        <th>
            <bold>Séance</bold>
        </th>
        <th>
            <bold>Satut du paiment</bold>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @SportAsso.Controllers.disciplinesController.GetUserFullNameByLogin(item.utilisateur.login)
        </td>
        <td>
            @SportAsso.Controllers.participesController.GetSeancesInfo(item.seance_id)
        </td>
        <td>
            @SportAsso.Controllers.participesController.StatutPaiment(item.a_payer)
        </td>
        
        <td>
            @Html.ActionLink("Mettre à jour le paiment", "Edit", "participes", new { id = item.seance_id + "-" + item.utilisateur.utilisateur_id }, new { @class = "btn btn - default" }) 
        </td>
    </tr>
}

</table>
