<section class="aside">
    <aside class="menu">
        <p class="menu-label">
            Pannel de Gestion
        </p>
        <ul class="menu-list">
            <li>@Html.ActionLink("Gestion des Comptes", "Index", "utilisateurs", routeValues: null, htmlAttributes: new { @class = "button is-dark" })</li>
            <li>@Html.ActionLink("Affectation des Encadrant", "Affectation", "utilisateurs", routeValues: null, htmlAttributes: new { @class = "button is-dark" })</li>
            <li>@Html.ActionLink("Dossiers Inscriptions", "Accueil", "documents", routeValues: null, htmlAttributes: new { @class = "button is-dark" })</li>
            <li>@Html.ActionLink("Paiments", "Accueil", "documents", routeValues: null, htmlAttributes: new { @class = "button is-dark" })</li>
        </ul>
    </aside>
</section>
